@CHARSET "UTF-8";

.dlg {
    position: fixed;
    z-index: 999;
    background: #84dda5 none repeat scroll 0 0;
    outline: 0px none;
    transform-origin: 0px 0px 0px;
    border-radius: 6px;
    /*box-shadow: 2px 2px 12px 1px rgba(0, 0, 0, 0.4);*/
}

.dlg-show {
    visibility: visible;
    left: 706.5px;
    top: 133px;
    opacity: 1;
}

.dlg .dlg-cnt {
    margin: 20px;
}

.dlg .dlg-ctrl {
	margin:20px; 
	text-align:right;
}

.dlg .dlg-close {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 22px;
    height: 22px;
    cursor: pointer;
}

.dlg .dlg-close:after, .dlg .dlg-close:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 10px;
    width: 2px;
    height: 12px;
    background: none repeat scroll 0% 0% #808080;
    transform: rotate(45deg);
}

.dlg .dlg-close:before {
    top: 10px;
    left: 5px;
    width: 12px;
    height: 2px;
}

.dlg-bg {
    background: #e3dfdf none repeat scroll 0 0;
	height: 100%;
	opacity: 0.92;
	position: absolute;
	width: 960px;
	z-index: 99;
}

.dlg .dlg-cnt .cnt-form {
  	width: 450px;
	color: #333;
}

.dlg .dlg-cnt .cnt-form-reg {
  	width: 640px;
	color: #333;
}


.dlg .dlg-cnt .cnt-h {
	font-size: 28px;
	margin: -3px 0 20px;
  	text-align: center;
}

.dlg .dlg-cnt .cnt-form .form-field {
  font-size: 14px;
  margin: 0 0 10px 38%;
  padding: 0 0 0 15px;
}

.dlg .dlg-cnt .cnt-form .form-field input {
  width: 250px;
}

.dlg .dlg-cnt .cnt-form .form-field3 input {
  width: auto;
  min-width: 0;
  transform: scale(1);
  -webkit-transform: scale(1);
}

.dlg .dlg-cnt .cnt-form .form-field:after {
  clear: both;
  content: "";
  display: block;
}

.dlg .dlg-cnt .cnt-form .form-label {
  clear: left;
  float: left;
  font-size: 18px;
  margin: 0 0 10px;
  padding: 2px 0 0;
  position: relative;
  text-align: right;
  width: 38%;
  word-wrap: break-word;
}

.dlg .dlg-cnt .cnt-form .form-label:after {
  color: #c00;
  content: "*";
  font-size: 20px;
  position: absolute;
  right: -0.4em;
  top: 0;
}

.dlg .dlg-cnt .cnt-form .form-label2:after {
  content: "";
}

.dlg .dlg-cnt .cnt-form .form-label3 {
  font-size: 14px;
}


.dlg .dlg-cnt .cnt-put {
  	width: 400px;
	color: #333;
}

.dlg .dlg-cnt .cnt-put input[type="text"], .dlg .dlg-cnt .cnt-put textarea {
  box-sizing: border-box;
  font-size: 14px;
  line-height: 1.3;
  margin: 0 0 5px;
  min-height: 30px;
  resize: vertical;
  width: 100%;
}

.dlg .dlg-cnt .cnt-put label{
	display: block;
	font-size: 12px;
	line-height:20px;
}


.dlg-zoom {
    position:relative;
    background: #c0c0c0;
    width:100%;
    height:200px;
}
 
.dlg-zoom img {
    position:absolute;
    display: inline-block;
    background-color:#fff;
    width:30%;
    height:auto;
    border:1px solid bla
}



/**********************************************************************************************************************/
/**************BUTTONS*****************/
.but {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	border: 1px solid #7b7b7b;
	border-radius: 20px;
	box-sizing: border-box;
	color: #5149fe;
	cursor: pointer;
	display: inline-block;
	font-size: 15px; 
	height: 30px;
	outline: 0 none;
	padding: 1px 23px 1px;
	position: relative;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	white-space: nowrap;
	margin: 0 3px;
}

.but:hover, .but:active, .but:focus {
	box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
}

.but-off:hover, .but-off:active, .but-off:focus {
	box-shadow: none;
}


.but-big {
	border-width: 2px;
	font-size: 16px;
	height: 40px;
	padding-top: 1px;
	line-height: 32px;
}

.but-mid {
	font-size: 14px;
	height: 26px;
	line-height: 20px;
	padding-left: 13px;
	padding-right: 13px;
}

.but-small {
	font-size: 11px;
	height: 20px;
	line-height: 18px;
	padding-left: 13px;
	padding-right: 13px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.but-blue {
	border-color: #5149fe;
	background-color: transparent;
	color: inherit;
	/* color: #333;
	background-color: #fff; */
	opacity: 0.8;
}

.but-blue:hover, .but-blue:active, .but-blue:focus {
	box-shadow: 0 0 5px 1px rgba(99, 99, 254, 0.6);
	border-color: #635afe;
}

.but-grey {
	border-color: #6b6b6b;
	/* color: #333;
	background-color: #fff; */
	opacity: 0.8;
	background-color: transparent;
	color: inherit;
}

.but-grey:hover, .but-grey:active, .but-grey:focus {
	box-shadow: 0 0 5px 1px rgba(107,107,107,0.6);
	border-color: #575757;
}

.but-orange {
	border-color: #8E3900;
	/* color: #333;
	background-color: #fff; */
	opacity: 0.8;
	background-color: transparent;
	color: inherit;
}

.but-orange:hover, .but-orange:active, .but-orange:focus {
	border-color: #8E3900;
	box-shadow: 0 0 5px 1px rgba(142,57,0,0.6);
}

.but-green {
	border-color: #3aaa35;
	/* color: #333;
	background-color: #fff; */
	opacity: 0.8;
	background-color: transparent; 
	color: inherit;
}

.but-green:hover, .but-green:active, .but-green:focus {
	border-color: #328e2d;
	box-shadow: 0 0 5px 1px rgba(50,142,45,0.6);
}

.but-red {
	border-color: #d70000;
	/* color: #333;
	background-color: #fff; */
	opacity: 0.8;
	background-color: transparent;
	color: inherit;
}

.but-red:hover, .but-red:active, .but-red:focus {
	box-shadow: 0 0 5px 1px rgba(180,0,0,0.6);
	border-color: #b40000;
}

.but[disabled] {
	opacity: 0.6;
}

.but-off, .but-off:hover, .but-off:active, .but-off:focus {
	background-color: transparent;
	color: #2b2b2b;
}

.but-load, .but-load:hover, .but-load:active, .but-load:focus {
	background: rgba(0, 0, 0, 0) url("../images/loading.gif") no-repeat scroll center center;
	color: transparent;
}


.but-collapse-right {
	/* background-color: #fff; */
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
	margin-right: -1px;
	border-color: #5149fe;
}
.but-collapse-left {
	/* background-color: #fff; */
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	margin-left: 0;
	border-color: #5149fe;
}
.but-collapse-right .but-collapse-left {
	margin-left: 0 !important;
}

.but-active-off, .but-active-off:focus, .but-active-off:hover, .but-active-off:active, .but-active-off:hover:active {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	box-shadow: none;
	color: #333;
	cursor: default;
	padding-bottom: 1px;
	padding-top: 0;
	border-color: #7b7b7b;
}


.but-like-count {
	/* background: none repeat scroll 0 0 #fff; */
	background-color: transparent;
	border: 1px solid #ccc;
	border-radius: 25px;
	color: inherit;
	cursor: pointer;
	display: inline-block;
	font-size: 12px;
	line-height: 12px;
	margin: 0 0 0 6px;
	min-width: 0.8em;
	padding: 8px;
	position: relative;
	text-align: center;
	vertical-align: middle;
}

.but-like-count:before, .but-like-count:after {
	border-color: transparent #ccc transparent transparent;
	border-image: none;
	border-style: solid;
	border-width: 5px;
	content: "";
	height: 0;
	left: -10px;
	position: absolute;
	top: 9px;
	width: 0;
}

.but-liked{
	cursor:default;
}

.but-up {
	color: #5149fe;
	cursor: pointer;
}

.but-bookmark {
	float: right;
	margin: 0 10px 0 0;
	top: 0;
	cursor: pointer;
	display: inline-block;
	fill: none;
	height: 16px;
	margin: 0 5px 0 18px;
	position: relative;
	stroke: #d70000;
	stroke-width: 2.4px;
	vertical-align: middle;
	width: 16px;
}

.but-bookmark-active {
	fill: #d70000;
}

.but-read, .but-black {
	margin: 0 10px 0 0;
	top: 0;
	cursor: pointer;
	display: inline-block;
	fill: none;
	height: 16px;
	margin: 0 5px 0 18px;
	position: relative;
	stroke: #d70000;
	stroke-width: 2.4px;
	vertical-align: middle;
	width: 16px;
}

.but-read-active, .but-black-active {
	fill: #d70000;
}


.but-tb {
	cursor: pointer;
	display: inline-block;
	font-size: 15px; 
	height: 30px;
	outline: 0 none;
	padding: 1px 3px 1px;
	position: relative;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	white-space: nowrap;
	margin: 0 3px;
}

/**********************************************************************************************************************/
/**************Image Filer-upload*****************/
.imagelist {
	line-height: 0;
	margin: 0 -8px 0 0; 
}

.imagelist-item {
	background: #e3dfdf none repeat scroll 0 0;
	display: inline-block;
	margin: 5px 10px 5px 0;
	padding: 0;
	position: relative;
	text-align: center;
	vertical-align: top;
}

.imagelist-pic-wrapper {
	cursor: move;
}

.imagelist-pic {
	display: block;
	line-height: 0;
	margin: 0 auto;
	position: relative;
}

.imagelist-pic-mask, .imagelist-pic-overlay {
	background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.imagelist-ctrl {
	background: #fff none repeat scroll 0 0;
	color: #205090;
	font-size: 12px;
	padding: 5px 7px 5px 5px;
	text-align: left;
	line-height: 20px;
}

.imagelist-ctrl .ctrl-sub::before {
	background-repeat: no-repeat;
	content: "";
	display: inline-block;
	height: 13px;
	vertical-align: middle;
	width: 15px;
}

.imagelist-ctrl .ctrl-crop::before {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAO0lEQVR4nGNggIKGhob/IMxALNi8efN/ECaoEGYyIUy+BkJOwqkBl8Qg0ICMQX5CZ5OvARcgOQWgawAA1ESkiU4905QAAAAASUVORK5CYII=")
}

.imagelist-ctrl .ctrl-chg::before {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMAQMAAABsu86kAAAABlBMVEUAAACAgICSabkkAAAAAXRSTlMAQObYZgAAABxJREFUeF5jgACOBgbZAwwWDxgKCoAkkA0SgQEAcHwF2zNCSDgAAAAASUVORK5CYII=")
}

.imagelist-ctrl .ctrl-rem::before {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAANUlEQVR42mNgoATMnDnzP9HiIMGGhob/6JK4xLFK4lWMTRNBxUQ5gyIbSPID2aFESvzQBgAAmrVujLI34TMAAAAASUVORK5CYII=");
}

.imagelist-ctrl .ctrl-remrem{
	
}

.imagelist-item .item-pre{
	overflow: hidden;
	border-color: #5149fe;
	border-width: 1px;
	border-style: dotted;
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAAA3NCSVQICAjb4U/gAAAABlBMVEXMzMz////TjRV2AAAACXBIWXMAAArrAAAK6wGCiw1aAAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M26LyyjAAAABFJREFUCJlj+M/AgBVhF/0PAH6/D/HkDxOGAAAAAElFTkSuQmCC");
}

.imagelist-item .item-avatar{
	width: 200px;
	height: 200px;
}

.imagelist-item .item-selfi{
	width: 200px;
}

.imagelist-item .item-carfoto{
	width: 120px;
	height: 68px;
}

.imagelist-item .uploader {
	display: inline-block;
	font-size: 12px;
	padding: 0;
}

.imagelist-item .uploader-button::before {
	content: "";
	display: inline-block;
	height: 13px;
	vertical-align: middle;
	width: 15px;
}

.imagelist-item .uploader-button-text {
	color: #205090;
	cursor: pointer;
	font-size: 12px;
}

.imagelist-item .pre-nr {
	background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
	color: #fff;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	left: 0;
	padding: 0 7px 0 5px;
	position: absolute;
	top: 0;
}

.uploader {
	font-size: 12px;
	padding: 0;
	display: inline-block;
}

.uploader .uploader-sub {
	position: relative;
}

.filer {
	background: transparent none repeat scroll 0 0;
	height: 30px;
	left: 0;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 201px;
	z-index: -1;
}

.filer input{
	font-size: 999px;
	height: 100%;
	position: absolute;
	width: 100%;
}

.uploader-progress, .uploader-progress-1, .uploader-progress-2 {
	background: #e1e1e1 url("data:image/gif;base64,R0lGODlhHgAeAIAAAOHh4czMzCH/C05FVFNDQVBFMi4wAwEAAAAh+QQECgAAACwAAAAAHgAeAAACRISPGcvtCY+bLUaKLcRUK/54EliJBlmaKGOea9ACL9zOsV2/t56vu/8jxWTAnjAIGvKMSSRHWVRFRUspCnp1ZrQd7qQAACH5BAQKAAAALAAAAAAeAB4AAAJFDI6pwe2uYnoUyljzxZnu1T3fFFojUJpj2pwHy7goLMOGa9c0vp85z9IFhSXZLGXs+YbAIjGUZC6Rz06U2oRWNdvKNVQAACH5BAQKAAAALAAAAAAeAB4AAAJFTICpa+2/onq0yVvzjblu1kFfEoojUDonklpra6woLMPHS+NtnZ82v9OlgENiSDYrCo/GDrLnCy6dTU3Vc6U8pVFlt1MAACH5BAQKAAAALAAAAAAeAB4AAAJFjIGpa+2/onq0yVvrlVnv2UFfEoojUDonklpre7zwis5yS8NBbp86j7ulgENhiVYrGjvIni+4zDShT2X1SAxNrSNnN1QAACH5BAQKAAAALAAAAAAeAB4AAAJFjAOpy+dvmFywojktxFk7LnkPSIkHqZgnCqgR615ozLZuTcO3ruL7/CPlgD2eyVc0emq2I1LEDAqTROhzedVEqVOn8lEAACH5BAQKAAAALAAAAAAeAB4AAAJFjA2py+ePmFSwhoktxFM/LnkO2IgHSZkRqq5ke6EALM9tTcs5e+s9r8L9XkPQjhj0JZWims3kLBqXwKYQerUyPVEqElIAACH5BAQKAAAALAAAAAAeAB4AAAJFjA+py+dvmFywhoktxFM/LnkO2IgRqZgICqgn6l5szLZuTc+3ruI7/CPlgD2eyVckHo2imm3J1DiDwqTSM7VWoVcp8lEAACH5BAQKAAAALAAAAAAeAB4AAAJFjB+gy43/mmSwpjktxFkjLnkfSIkGWZroYh4r0J5rfKH0e88xvust//OphCLg0NZDBpVHUo6oecGWTI80WY0arVstNFAAACH5BAQKAAAALAAAAAAeAB4AAAJFjG+gy43/mmSwhoktxFNH7ngHGIoXuZgJqqgn675kzAI07NY3us85rtL9eENfEGgSHolLYxIpqtmaTo+0WNVcqSBs91EAACH5BAQKAAAALAAAAAAeAB4AAAJFjH+gy43/mmSwhoktxFNH7ngJSIkGWZroYp4r0F5vLKP0HOOtrq63nwPuhD1b0DhEFkk/pYj3JEalmhcs6axCtVSL9VEAACH5BAQKAAAALAAAAAAeAB4AAAJEjI+gy43/mmSwhoktxFNH7ngHGIoXuZgGmqqsop5s/AKxTN6vPtO9+zPtfChekZhDgoxJ4NHZFAZFQ2jUU1MurVtpsAAAIfkEBAoAAAAsAAAAAB4AHgAAAkWMjwHL7QmPmy1Gii3EVCc+eQj4iAZZmQq6qCvrsq0qA7HsvmSO3ygP8+2EIOCPyDEOaUHm0bk09aBFZMZ6lU5FNWzHUAAAIfkEBAoAAAAsAAAAAB4AHgAAAkWMjwbL7QmPmy1Gii3EVCc+eQj4iArJmCcKqAG7uHCrzjJ8s+6r5+SO84GAvVrRFDSiiEshh/lzZqQdashaUjaRSZEtUAAAIfkEBAoAAAAsAAAAAB4AHgAAAkSMjwfL7QmVmyxGii3EVCc+eQj4iAbZmCe6qAHbqjDgzjV8sznqvvoO6uGAHOFPdjQNkTxixtmBhqQlJsnYtAapVZGtAAAh+QQECgAAACwAAAAAHgAeAAACRIyPCMvtCY+bLUaKLcRUJz55CliJBlmaKGOeK9AGL9zOsV2/t56vsezboX68HokYNIKQQ+HRuYRymE/lVJrBdrQh7qQAACH5BAQKAAAALAAAAAAeAB4AAAJEjI8Jy+0Jj5stRootxFQr/ngSWIkGWZooY54r0AYv3M6xXb+3nq+7/yPFZMCeMAga8oxJJEdZVEVFSykKenVmtB3upAAAIfkEBAoAAAAsAAAAAB4AHgAAAkVEjqnA7a5iehTKWPPFme7VPd8UWmNQmmPanAfLuCgsw4Zr1zS+nznP0gWFJdksZez5hsAiMZRkLpHPTpTahFY128o1VAAAIfkEBAoAAAAsAAAAAB4AHgAAAkUEgqlr7b+ierTJW/ONuW7WQV8SimNQOieSWmtrrCgsw8dL422dnza/06WAQ2JINisKj8YOsucLLp1NTdVzpTylUWW3UwAAIfkEBAoAAAAsAAAAAB4AHgAAAkWEg6lr7b+ierTJW+uVWe/ZQV8SimNQOieSWmt7vPCKznJLw0BunzqPu6WAQ2GJVisaO8ieL7jMNKFPZfVIDE2tI2c3VAAAIfkEBAoAAAAsAAAAAB4AHgAAAkWEEanL52+YXLCiOS3EWTsueQ9IiQepmCcaqBHrXmjMtm5Nw7eu4vv8I+WAPZ7JVzR6arYjUsQMCpNE6HN51USpU6fyUQAAIfkEBAoAAAAsAAAAAB4AHgAAAkWEHanL54+YVLCCiS3EUz8ueQ7YiAdJmRGqrmR7oQEsz21Nyzl76z2vwv1eQ9COGPQllaKazeQsGpfAphB6tTI9USoSUgAAIfkEBAoAAAAsAAAAAB4AHgAAAkWEH6nL52+YXLCCiS3EUz8ueQ7YiBGpmAgaqCfqXmzMtm5Nz7eu4jv8I+WAPZ7JVyQejaKabcnUOIPCpNIztVahVynyUQAAIfkEBAoAAAAsAAAAAB4AHgAAAkWED6HLjf+aZLCmOS3EWSMueR9IiQZZmuhiHmvQnmt8ofR7zzG+6y3/86mEIuDQ1kMGlUdSjqh5wZZMjzRZjRqtWy0UUAAAIfkEBAoAAAAsAAAAAB4AHgAAAkWEb6HLjf+aZLCCiS3EU0fueAcYihe5mAmqqCfrvmTMBjTs1je6zzmu0v14Q18QaBIeiUtjEimq2ZpOj7RY1VypIGz3UQAAIfkEBAoAAAAsAAAAAB4AHgAAAkWEf6HLjf+aZLCCiS3EU0fueAlIiQZZmuhinmvQXm8so/Qc462urrefA+6EPVvQOEQWST+liPckRqWaFyzprEK1VIv1UQAAIfkEBAoAAAAsAAAAAB4AHgAAAkSEj6HLjf+aZLCCiS3EU0fueAcYihe5mAaaqqyinmz8BrFM3q8+0737M+18KF6RmEOCjEng0dkUBkVDaNRTUy6tW2mwAAAh+QQECgAAACwAAAAAHgAeAAACRYSPEMvtCY+bLUaKLcRUJz55CPiIBlmZCrqoK+uyrSoHsey+ZI7fKA/z7YQg4I/IMQ5pQebRuTT1oEVkxnqVTkU1bMdQAAAh+QQECgAAACwAAAAAHgAeAAACRYSPFsvtCY+bLUaKLcRUJz55CPiICsmYJxqoALu4cKvOMnyz7qvn5I7zgYC9WtEUNKKISyGH+XNmpB1qyFpSNpFJkQ1QAAAh+QQECgAAACwAAAAAHgAeAAACRISPF8vtCZWbLEaKLcRUJz55CPiIBtmYJ7qoANuqcODONXyzOeq++g7q4YAc4U92NA2RPGLG2YGGpCUmydi0BqlVka0AACH5BAQKAAAALAAAAAAeAB4AAAJEhI8Yy+0Jj5stRootxFQnPnkKWIkGWZooY55r0AIv3M6xXb+3nq+x7NuhfrweiRg0gpBD4dG5hHKYT+VUmsF2tCHupAAAOw==") repeat-x scroll 0 0;
	border: 1px solid gray;
	display: inline-block;
	height: 11px;
	vertical-align: top;
	width: 200px;
}

.uploader-progress-bar, .uploader-progress-bar-1, .uploader-progress-bar-2 {
	background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
	height: 100%;
	transition: width 0.1s ease 0s;
}

.uploader-progress-num, .uploader-progress-num-1, .uploader-progress-bar-2 {
	color: gray;
	display: inline-block;
	font-size: 12px;
	line-height: 14px;
	margin: 0 0 0 0.4em;
	vertical-align: top;
}
/**********qtip-extra************/
.qtip{
	font-size: 12px;
	line-height: 14px; 
}
.qtip-close {
	border: 0px solid transparent !important;
	right: -1px !important;
	top: -1px !important;
	background: transparent !important;
}

.qtip-titlebar .qtip-close{
	margin-top: -1px;
}

/**********lightbox**********/

.lbox {
    position:fixed; /* keeps the lbox window in the current viewport */
    top:0; 
    left:0; 
    width:100%; 
    height:100%; 
    background: rgba(0,0,0,.7);
    text-align:center;
    z-index: 100;
}

.lbox div{
	padding-top: 10px;
}

.lbox img {
    box-shadow:0 0 25px #111;
    -webkit-box-shadow:0 0 25px #111;
    -moz-box-shadow:0 0 25px #111;
    max-width:940px;
}

/*****************validation***************/
.error{
	color: #c03;
	margin-left: 3px;
	font-size: 12px;
}

input.invalid, select.invalid, textarea.invalid {
	background: #FFC1D1;
}

.form-field .result {
	background: #f03 none repeat scroll 0 0;
	border-radius: 9px;
	color: #fff;
	display: inline-block;
	font-size: 11px;
	font-weight: bold;
	left: 260px;
	line-height: 18px;
	margin: 0;
	min-width: 7px;
	padding: 0 6px 0 5px;
	position: absolute;
	text-align: center;
	top: 10px;
	vertical-align: top;
	border-bottom-width: 10px;
	margin-bottom: 0;
	margin-top: -6px;
	width: 11px;
	height: 11px;
}

.result-ok {
	background: #3870c6 none repeat scroll 0 0;
}

.result-err {
}

.result-loading {
	background: transparent url("../images/loading.gif") no-repeat scroll 0 0;
	border-bottom-width: 10px;
	border-radius: 9px;
	display: inline-block;
	left: 260px;
	margin: -3px 0 0;
	min-width: 7px;
	padding: 0 6px 0 5px;
	position: absolute;
	top: 10px;
	width: 11px;
	height: 11px;
}
