<!doctype html>
<html class="+no-js no-js- no-js i-has-no-js">
<head>
<meta charset="UTF-8">
<title>MarioQuiz - Admin-Bereich</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0;">
<meta name="decription" content="">
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta http-equiv="cleartype" content="on">
<link rel="stylesheet" href="css/normalize.css">
<link rel="stylesheet" href="css/styles-admin.css">
<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">

<script src="js/modernizr.js"></script>


</head>
 
<body>

<header>

<div id="logo"></div>

</header>

<div id="joker">

<ul>
<li><a href="admin-frage.html"><em class="neuefrage"></em> NEUE FRAGE</a></li>
<li><a href="admin-fragen-liste.html"><em class="fragenliste"></em> FRAGEN-LISTE</a></li>
<li><a href="#"><em class="admin-home"></em> HOME</a></li>
</ul>

</div>

<div id="fragen-liste">

<div id="container">


<h1>Fragen-Liste</h1>


<form>

<div id="top-quiz">

<h2>Welches Quiz willst du bearbeiten?</h2>
<select class="admin-quiz-kategorie" name="quiz-kategorie">
<option value="mario" selected>MarioQuiz</option>
<option value="nfans">NintendoQuiz</option>
<option value="wii">WiiQuiz</option>
<option value="zelda">ZeldaQuiz</option>
</select>

<p>Im <a href="start.html" target="_blank">MarioQuiz</a> befinden sich <span class="strong">1234</span> Fragen!</p>

<h2 class="h2-subkategorie">Subkategorie: Besondere Auftritte <span>24 Fragen</span></h2>

<table>
<tr>
<th>ID</th>
<th class="status">Status</th>
<th>Frage</th>
<th>Bearbeiten</th>
</tr>
<tr>
<td>2675</td>
<td class="status"><span class="aktiv"></span></td>
<td class="frage"><a href="admin-beispiel-frage.html">Was l&ouml;st die Krise am Anfang von Super Mario 3D World aus?</a></td>
<td class="bearbeiten"><a class="bearbeiten"  alt="bearbeiten" title="bearbeiten" href="admin-beispiel-frage.html"></a><a class="loeschen" alt="löschen" title="löschen" href="#"></a><a class="inaktivieren" title="inaktivieren" alt="inaktivieren" href="#"></a></td>
</tr>
<tr>
<td>2676</td>
<td class="status"><span class="aktiv"></span></td>
<td><a href="admin-beispiel-frage.html">Wann lässt Mario in Super Mario 3D World die Katz raus?</a></td>
<td class="bearbeiten"><a class="bearbeiten"  alt="bearbeiten" title="bearbeiten" href="admin-beispiel-frage.html"></a><a class="loeschen" alt="löschen" title="löschen" href="#"></a><a class="inaktivieren" title="inaktivieren" alt="inaktivieren" href="#"></a></td>
</tr>
<tr>
<td>2677</td>
<td class="status"><span class="aktiv"></span></td>
<td><a href="admin-beispiel-frage.html">Was macht man aus dem Obst, mit dem Mario sich verfielfältigen kann?</a></td>
<td class="bearbeiten"><a class="bearbeiten"  alt="bearbeiten" title="bearbeiten" href="admin-beispiel-frage.html"></a><a class="loeschen" alt="löschen" title="löschen" href="#"></a><a class="inaktivieren" title="inaktivieren" alt="inaktivieren" href="#"></a></td>
</tr>
<tr>
<td>2678</td>
<td class="status"><span class="aktiv"></span></td>
<td><a href="admin-beispiel-frage.html">ZOOM: Wem macht dies hier richtig zu schaffen?</a></td>
<td class="bearbeiten"><a class="bearbeiten"  alt="bearbeiten" title="bearbeiten" href="admin-beispiel-frage.html"></a><a class="loeschen" alt="löschen" title="löschen" href="#"></a><a class="inaktivieren" title="inaktivieren" alt="inaktivieren" href="#"></a></td>
</tr>
<tr>
<td>2675</td>
<td class="status"><span class="inaktiv"></span></td>
<td><a href="admin-beispiel-frage.html">Was l&ouml;st die Krise am Anfang von Super Mario 3D World aus?</a></td>
<td class="bearbeiten"><a class="bearbeiten"  alt="bearbeiten" title="bearbeiten" href="admin-beispiel-frage.html"></a><a class="loeschen" alt="löschen" title="löschen" href="#"></a><a class="aktivieren" title="aktivieren" alt="aktivieren" href="#"></a></td>
</tr>
</table>

<h2 class="h2-subkategorie">Subkategorie: Mario &amp; Luigi 1 <span>20 Fragen</span></h2>

<table>
<tr>
<th>ID</th>
<th class="status">Status</th>
<th>Frage</th>
<th>Bearbeiten</th>
</tr>
<tr>
<td>2660</td>
<td class="status"><span class="aktiv"></span></td>
<td class="frage"><a href="admin-beispiel-frage.html">Welches Entwicklerstudio hat Mario & Luigi: Superstar Saga entwickelt? </a></td>
<td class="bearbeiten"><a class="bearbeiten"  alt="bearbeiten" title="bearbeiten" href="admin-beispiel-frage.html"></a><a class="loeschen" alt="löschen" title="löschen" href="#"></a><a class="inaktivieren" title="inaktivieren" alt="inaktivieren" href="#"></a></td>
</tr>
<tr>
<td>2661</td>
<td class="status"><span class="aktiv"></span></td>
<td><a href="admin-beispiel-frage.html">Für welches Spielgerät ist das erste Mario-&-Luigi-Rollenspiel erschienen?</a></td>
<td class="bearbeiten"><a class="bearbeiten"  alt="bearbeiten" title="bearbeiten" href="admin-beispiel-frage.html"></a><a class="loeschen" alt="löschen" title="löschen" href="#"></a><a class="inaktivieren" title="inaktivieren" alt="inaktivieren" href="#"></a></td>
</tr>
<tr>
<td>2662</td>
<td class="status"><span class="aktiv"></span></td>
<td><a href="admin-beispiel-frage.html">Welchen Titel trägt Mario & Luigi: Superstar Saga in Japan?</a></td>
<td class="bearbeiten"><a class="bearbeiten"  alt="bearbeiten" title="bearbeiten" href="admin-beispiel-frage.html"></a><a class="loeschen" alt="löschen" title="löschen" href="#"></a><a class="inaktivieren" title="inaktivieren" alt="inaktivieren" href="#"></a></td>
</tr>
<tr>
<td>2663</td>
<td class="status"><span class="aktiv"></span></td>
<td><a href="admin-beispiel-frage.html">Welchen Klassiker findet ihr auf dem Modul der Superstar Saga?</a></td>
<td class="bearbeiten"><a class="bearbeiten"  alt="bearbeiten" title="bearbeiten" href="admin-beispiel-frage.html"></a><a class="loeschen" alt="löschen" title="löschen" href="#"></a><a class="inaktivieren" title="inaktivieren" alt="inaktivieren" href="#"></a></td>
</tr>
<tr>
<td>2664</td>
<td class="status"><span class="inaktiv"></span></td>
<td><a href="admin-beispiel-frage.html">Was geht Peach in der Superstar Saga verloren? </a></td>
<td class="bearbeiten"><a class="bearbeiten"  alt="bearbeiten" title="bearbeiten" href="admin-beispiel-frage.html"></a><a class="loeschen" alt="löschen" title="löschen" href="#"></a><a class="aktivieren" title="aktivieren" alt="aktivieren" href="#"></a></td>
</tr>
</table>



</div>
</div>
</div>


<footer>

<div id="footerlinks">
<ul>
<li><a href="start.html">Zum Quiz</a></li>
</ul>
</div>





<div class="clear"></div>

</footer>

<!-- SAS Active-Link via IPhone aktivieren, ggf. auslagern -->
<script type="text/javascript">
	document.addEventListener("touchstart", function() {},false);
</script>

<!-- SAS JQuery -->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<script src="jquery.fitvids.js"></script>
      <script>
        // Basic FitVids Test
        $("article").fitVids();
		</script>
        
<script src="js/respond.js" type="text/javascript"></script>


</body>
</html>