{# app/Resources/views/Emails/registration.html.twig #}
<h3>Passwort vergessen </h3>

<br/><br/>

Hallo Mensch {{user.username}}

<br/><br/>

{# example, assuming you have a route named "login" #}
Bitte geben Sie ihre neues Passwort, gehe zu: <a href="{{ url('password_new',{'_':user.reset}) }}">Reset</a>.
<br/>
Benutzername: {{user.username}}
<br/>
Danke!
<br/>
<br/>
<img src="{{ absolute_url(asset('images/welcome.png')) }}">