{# src/Resources/views/security/reg.html.twig #} 
{% extends 'security/init.html.twig' %} 


{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block js %}
    {{ parent() }}
{% endblock %}

{% block body %}
	<div id="" class="container">

		<div id="panel" class="panel panel-default">
			<div class="panel-heading">
            	<h3 class="panel-title">Bitte erstmal Abmelden und danach registrieren</h3>
            	<a href="{{ path('logout') }}">Logout</a> 
            </div>
			
		</div>
		
	</div>
{% endblock %} 