<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" id="modal-password">
  <div class="modal-dialog modal-password" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Passwort wiederherstellen</h4>
      </div>
      <div class="modal-body">
      	 <form action="{{ path('password_send_request') }}" method="get" class="" id="m-f-password" data-toggle="validator" role="form">
          <div class="form-group">
            <label for="u" class="control-label">Benutzername/Email:</label>
            <input type="text" class="form-control" id="u">
            <div class="help-block with-errors"></div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="modal-cancel-password">Abbrechnen</button>
        <button type="button" class="btn btn-primary" id="modal-ok-password">OK</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->